<h1>About The App</h1>
<p>This app uses node.js and express to serve files a handle 404 errors.</p>
<p><a href="home.html">Go to home page</a></p>
<p><a href="tryTurningItOffAndOnAgain">Try a page that doesn't exist</a></p>